<footer class="mt-5 text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-0.2" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-dark" href="https://www.linkedin.com/in/alex1rodriguez/">AlexR</a>
    </div>
    <!-- Copyright -->
  </footer>
</body>
</html>