<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
        <h1>Captain Barracuda</h1>
    </header>
<nav>
    <a href="/seafoodstore/aboutus" class="aboutus">About Us</a>
    <a href="/seafoodstore/stock" class="home">Home</a>
</nav>