html{
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    grid: auto / 1em 1fr 1em;
    flex-direction: column;
}

ul{
    display: inline;
    margin-left: 75%;
    margin-right: 2rem;
}

.nav-item {
    margin-left: 0.5rem;
}

#port{
    justify-content: center;
}

#bottomNav{
    margin-bottom: 3%;
    box-shadow: 0px 1px 1px #777;
}

#butPosition{
    display: flex;
    justify-content: space-between;
}

#links{
    display: flex;

}